<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EmailServer" value="vohung.it@gmail.com"/>
    <add key="SendToEmail" value="vohung.it@gmail.com"/>
    <add key="Password" value="hung!@1997"/>
    <add key="Host" value="smtp.gmail.com"/>
    <!--chu kỳ của timer đơn vị milisecond-->
    <add key="IntervalEnlapsed" value=""/>
    
    <!--thoi gian theo dinh dang 24h-->
    <add key="TimeSchedule" value="23"/>
  </appSettings>
</configuration>